<h2 mat-dialog-title *ngIf="item">Edit Category</h2>
<h2 mat-dialog-title *ngIf="!item">Add Category</h2>
<mat-dialog-content>
  <form [formGroup]="categoryForm">
    <div class="usr_profile_inrmain">
      <div class="usr_profile_biodata">
        <label>Category Name</label>
        <div class="input-group">
          <input class="form-control" type="text" name="name" formControlName="name" />
        </div>
      </div>
      <div class="usr_profile_img">
        <div class="usr_profile_imgbx">
          <label>Image</label>
          <div class="user_img">
            <figure *ngIf="categoryImage">
              <img style="height: 50px;width: 50px" [src]="categoryImage" />
            </figure>
          </div>
        </div>
        <div *ngIf="submitted && !categoryImage" class="invalid-feedback">
          Image is required
        </div>
        <div class="user_profile_edit">
          <input type="file" accept="image/*" (change)="profilePic($event)" />
        </div>
      </div>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions>

  <button class="mat-raised-button mat-primary mr-3" *ngIf="!item" (click)="onSubmit()">
    Add Category
  </button>
  <button class="mat-raised-button mat-primary mr-3" *ngIf="item" (click)="onUpdate()">
    Edit Category
  </button>
  <button class="mat-raised-button" (click)="close()">Close</button>
</mat-dialog-actions>