<h2 mat-dialog-title *ngIf="restaurantId && typeID">Edit Store Type</h2>
<h2 mat-dialog-title *ngIf="restaurantId && !typeID">Add Store Type</h2>
<mat-dialog-content>
  <form [formGroup]="categoryForm">
    <div class="usr_profile_inrmain">
      <div class="row">
        <div class="col-12">
          <div class="usr_profile_biodata">
            <label>Type</label>
            <div class="input-group">
              <input class="form-control" type="text" name="name" formControlName="name" />
            </div>
            <div *ngIf="submitted && categoryForm.controls.name.errors" class="invalid-feedback">
              <div *ngIf="categoryForm.controls.name.errors.required">
                Type is required
              </div>
            </div>
          </div>
        </div>

        <div class="col-6">
          <div class="usr_profile_biodata">
            <label>نوع</label>
            <div class="input-group">
              <input class="form-control" type="text" name="name" formControlName="name_ar" />
            </div>
            <div *ngIf="submitted && categoryForm.controls.name.errors" class="invalid-feedback">
              <div *ngIf="categoryForm.controls.name.errors.required">
                Type is required
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button class="btn btn-primary mr-3" *ngIf="restaurantId && !typeID" (click)="onSubmit()">
    Add Type
  </button>
  <button class="btn btn-primary mr-3" *ngIf="restaurantId && typeID" (click)="onUpdate()">
    Edit Type
  </button>
  <button class="btn btn-danger" (click)="close()">Close</button>
</mat-dialog-actions>